<%- include('header') %>

<main id="content">
    <h2>Welcome to My Website</h2>
    <p>This is a simple website with a login feature.</p>
    <div id="login-success-message" class="hidden">
        <h3>Login Successful</h3>
        <p>Welcome, <span id="username-display"></span>!</p>
    </div>
    <div id="board">
        <h3>Board</h3>
        <ul>
            <li>Post 1: This is the first post.</li>
            <li>Post 2: This is the second post.</li>
            <li>Post 3: This is the third post.</li>
        </ul>
    </div>
</main>

<%- include('footer') %>
