<div class="main_text2">
    <div class="last_text">
        <div class="github">
            <a href="https://github.com/Kimhanjae7/Project_Master">
                <img src="/images/github.png">
                <span>Introducing the Project Master with GitHub</span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>