<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/notification.css">
    <link rel="stylesheet" type="text/css" href="/css/ratePage.css">
    <title>알림</title>
</head>
<body>
    <div class="logo_home">
        <a href="/pubilc/index.html"><img src="/images/PM_logo_fin.png"></a><br>
    </div>
    <div class="ratePage_wrap">
        <div class="ratePage_bg">
            <div class="ratePage">
                <div class="notification_top_section">
                    <div class="notification_header"><img src="/images/notification.png"></div>
                </div>
                <div class="notification_section">
                    <span class="notification_font">알람 메세지</span>
                </div>
                <div class="notification_section">
                    <span class="notification_font">알람 메세지</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>