.notification_top_section {
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin: 10px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification_header{
    height: 110px;
    width: 110px;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 80px;
}
.notification_header img{
    width: 100px;
    height: 100px;
}

/*알람 영역*/
.notification_section{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin: 10px 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification_font{
    font-size: 18px;
}