<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/join_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container" class="container">
        <!-- FORM SECTION -->
        <div class="row">
          <!-- SIGN UP -->
          <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
              <div class="form sign-up">
                <form action="/joinProc" method="post">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" class="input" placeholder="ID" id="user_id" name="user_id" required />
                    </div>
                    <div class="input-group">
                        <i class='bx bx-mail-send'></i>
                        <input type="password" class="input" placeholder="Password" id="user_pw" name="user_pw" required/>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="text" class="input" placeholder="Name" id="user_name" name="user_name" required/>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="text" class="input" placeholder="Phone number" id="user_phone" name="user_phone" required/>
                    </div>
                    <div class="input-group">
                        <i class="'bxs-lock-alt"></i>
                        <input type="text" class="input" placeholder="Nickname" id="nickname" name="nickname" required/>   
                    </div>
                    <button>
                        Sign up
                    </button>
                </form>
                <p>
                  <span>
                    Already have an account?&nbsp;
                  </span>
                  <b onclick="toggle()" class="pointer">
                    Sign in here
                  </b>
                </p>
              </div>
            </div>
          </div>
          <!-- END SIGN UP -->
          <!-- SIGN IN -->
          <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
              <div class="form sign-in">
                <form action="/loginProc" method="post">
                    <div class="input-group">
                    <i class='bx bxs-user'></i>
                    <input type="text" class="input" placeholder="ID" name="user_id" required/>
                    </div>
                    <div class="input-group">
                    <i class='bx bxs-lock-alt'></i>
                    <input type="password" class="input" placeholder="Password" name="user_pw" required/>
                    </div>
                    <button>
                        Sign in
                    </button>
                </form>
                <p>
                  <b>
                  </b>
                </p>
                <p>
                  <span>
                    Don't have an account? &nbsp;
                  </span>
                  <b onclick="toggle()" class="pointer">
                    Sign up here
                  </b>
                </p>
              </div>
            </div>
            <div class="form-wrapper">
            </div>
          </div>
          <!-- END SIGN IN -->
        </div>
        <!-- END FORM SECTION -->
        <!-- CONTENT SECTION -->
        <div class="row content-row">
          <!-- SIGN IN CONTENT -->
          <div class="col align-items-center flex-col">
            <div class="text sign-in">
              <h2>
                Once you log in, <br>
                You will have access <br>
                to many features
              </h2>
            </div>
            <div class="img sign-in">
            </div>
          </div>
          <!-- END SIGN IN CONTENT -->
          <!-- SIGN UP CONTENT -->
          <div class="col align-items-center flex-col">
            <div class="img sign-up">
            </div>
            <div class="text sign-up">
                <h2>
                    <br><br><br>This is the process<br>&nbsp;to start the project
                </h2><br>
                <span>
                    Once you complete this step, you will be fully prepared.<br>
                    You can bring your ideas to life<br> and collaborate with others to create an impressive portfolio.<br>
                    We provide you with an excellent environment to form your team.
                </span>
            </div>
          </div>
          <!-- END SIGN UP CONTENT -->
        </div>
        <!-- END CONTENT SECTION -->
      </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            let container = document.getElementById('container');

            function toggle() {
                container.classList.toggle('sign-in');
                container.classList.toggle('sign-up');
            }

            window.toggle = toggle;

            setTimeout(() => {
                container.classList.add('sign-in');
            }, 200);
        });
    </script>
</body>
</html>
