<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="/css/post_view_write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div class="wrap">
        <div class="profile_top">
            <div class="profile_logo">
                <a href="/"><img src="/images/PM_logo_fin.png"></a><br>
                <span>Project Master</span><br><br>
            </div>
            <div class="menubar">
                <ul class="nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/alarms">알림</a></li>
                    <% if(user_id){ %>
                    <li><a href="/myprofile/<%=user_id%>"><%=user_id%>님</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                    <% } else{ %>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="/login">로그인</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="bottom_wrap">
            <div class="bottom_bg">
                <div class="bottom">
                    <div class="post_top">
                        <div class="clip_margin"></div>
                        <div class="top_content">
                            <div class="post_title_area">
                                <div class="post_title">
                                    <div class="bt_menu">
                                        <a href="/"><img src="/images/back.png"></a>
                                        <div class=bt_update_delete></div>
                                        <button onclick="goBack()">취소</button>
                                        <form action="/registrationProc" method="POST">
                                            <button class="edit_btn">작성 하기</button>
                                    </div>
                                    <br>
                                    <h2>제목 : <input type="text" name="introduce_title"></h2><br>
                                    <span class="title_span"></span>
                                    <span class="slash"></span>
                                    <span class="title_span2"></span>
                                </div>
                            </div>
                            <div class="post_info_area">
                                <hr class="hr_design_di">
                                <div class="post_info">
                                    <div class="post_info_left">
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 구분</span> &ensp; <span class="user_element"><input type="text" name="category"></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">진행 방식</span> &ensp; <span class="user_element"><input type="text" name="way"></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">기술 스택</span> &ensp; <span class="user_element"><input type="text" name="teck_stack"></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 분야</span> &ensp; <span class="user_element"><input type="text" name="position"></span>
                                        </div>
                                    </div>
                                    <div class="post_info_right">
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 인원</span> &ensp; <span class="user_element"><input type="number" name="mem_number"> 명</span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">진행 기간</span> &ensp; <span class="user_element"><input type="text" name="period"></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">마감 기간</span> &ensp; <span class="user_element"><input type="date" name="deadline"></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">연락 방법</span> &ensp; <span class="user_element"><input type="text" name="contact"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_mid">
                        <div class="post_introduce_area">
                            <div class="post_introduce">
                                <br><br><h2>프로젝트 소개</h2><br><hr class="hr_design"><br>
                                <span><textarea id="introduce_detail" name="introduce_detail"></textarea></span>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function goBack() {
      window.history.back();
}

    </script>
</html>