<%- include('header') %>

<div class="main_text1">
    <div class="top_project">
        <span>추천 프로젝트</span>
        <div class="turn_project"><img src="/images/좌측화살표.png">  <img src="/images/우측화살표.png"></div>
    </div>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul>
    
    <div class="middle_project">
        <button id="all_button">전체</button>&emsp;
        <button id="popular_button">인기순</button>&emsp;
        <button id="recent_button">최신순</button>
     </div>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul><br>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul><br>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul>
    <div>
        <ol class="paging">
            <li class="first"><a href="/">첫페이지</a></li>
            <li class="prev"><a href="/">이전페이지</a></li>
            <li><a href="/">1</a></li>
            <li><a href="/">2</a></li>
            <li><a href="/">3</a></li>
            <li><a href="/">4</a></li>
            <li><a href="/">5</a></li>
            <li class="next"><a href="/">다음페이지</a></li>
            <li class="last"><a href="/">마지막페이지</a></li>		
        </ol>
    </div>
</div>
<%- include('footer') %>
