<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>마이페이지 수정</title>
    <link rel="stylesheet" href="/css/myapge_re.css">
</head>
<body>
    <div class="container">
        <h1>Edit My Profile</h1>
        <form action="/mypageProc" method="post">
            <ul>
                <li><strong>My Profile</strong></li>
                <li><label for="nickname">닉네임:</label> <input type="text" id="nickname" name="nickname"></li>
                <li><label for="job">직무:</label> <input type="text" id="job" name="job"></li>
                <li><label for="affiliation">소속:</label> <input type="text" id="affiliation" name="affiliation"></li>
                <li><label for="career">경력:</label> <input type="text" id="career" name="career"></li>
                <li><label for="introduce">자기소개:</label> <input type="text" id="introduce" name="introduce"></li>
                <li><label for="interest_stack">관심스택:</label> <input type="text" id="interest_stack" name="interest_stack"></li>
            </ul>
            <div class="buttons">
                <button type="submit">저장하기</button>
                <button type="button" id="backButton">뒤로가기</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('backButton').addEventListener('click', function() {
            window.history.back();
        });
    </script>
</body>
</html>
