<%-include('header.ejs')%>
    
<form action="/profileProc" method="post">
    <ul>
        <li>my profile</li>
         <li> user_id : <input type="text" name="user_id"></li>
         <li> 직무 : <input type="text" name="job"></li>
         <li> 소속 : <input type="text" name="affiliation"></li>
         <li> 경력 : <input type="text" name="career"></li>
         <li> 자기소개 : <input type="text" name="introduce"></li>
         <li> 관심스택 : <input type="text" name="interest_stack"></li>
         <button>저장하기</button>
    </ul>
</form>
<%-include('footer.ejs')%>
