
<form action="/profileProc" method="post">
    <ul>
        <li>my profile</li>
         <li> 닉네임 : <input type="text" name="nickname"></li>
         <li> 직무 : <input type="text" name="job"></li>
         <li> 소속 : <input type="text" name="affiliation"></li>
         <li> 경력 : <input type="text" name="career"></li>
         <li> 자기소개 : <input type="text" name="introduce"></li>
         <li> 관심스택 : <input type="text" name="interest_stack"></li>
         <button type="submit">저장하기</button>
         <button type="button" id="backButton">뒤로가기</button>
    </ul>
</form>

<script>
    document.getElementById('backButton').addEventListener('click', function() {
        window.history.back();
    });
</script>

